#about {
  padding-top: 3rem;
}

.jumbotron {
  padding-top: 6rem;
  background-color: rgb(128, 119, 119);
}

#colection {
  background-color: #273036;
}
#pathner {
  padding-top: 3rem;
  background-color: #6c757d;
}
section {
  padding-top: 6rem;
}
